__pycache__/
Thumbs.db

.vscode/
.idea/

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

pip-log.txt
pip-delete-this-directory.txt

instance/
.webassets-cache

.python-version

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/